cost {
  display: none;
}
body {
  background-image: url("/img/pizzawall.jpg");
}
.jumbotron {
  background-color: #dc5618;
  color: #f2f2f2;
}
form {
  background-color: #f0b72c;
  color: #f2f2f2;
}
.card {
  background-color: #f0b72c;
}
.btn {
  background-color: #46bfcb;
  border-color: #d3b56B;
  border: 10px;
  border-width: 10px;
}